<!DOCTYPE html>
<html>
  <body>
    <h1>Posts</h1>
    <% @posts.each do |post| %>
      <br><strong><%= post.name %></strong><br />
      <br><%= post.content %>
      <br />
    <% end %>
  </body>
</html>